
<% if @project.category %>
  <h2><a href="/categories/<%=@project.category.id%>"><%= @project.category.name %></a></h2>
<% end %>

<h1><%=@project.name%></h1>

  <% if @project.ideas %>
    <h3>Ideas:</h3>
    <% @project.ideas.each do |i| %>
    <ul>
      <li><%= i.text %></li>
    </ul>
    <% end %>
  <% end %>

  <p></p>

  <% if @project.notes != "" %>
    <h3>Notes:</h3>
    <p><%= @project.notes %></p>
  <% end %>

  <% if @project.start_by != "" %>
    <h3>Start By:</h3>
    <p><%= @project.start_by %></p>
  <% end %>

  <% if @project.finish_by != "" %>
    <h3>Finish By:</h3>
    <p><%= @project.finish_by %></p>
  <% end %>

  <p></p>

  <a href="/projects/<%=@project.id%>/edit" class="btn btn-primary" role="botton">Edit Project</a>

  <a href="/projects/<%=@project.id%>/delete" class="btn btn-danger" role="botton">Delete</a>
